@page
@{
    Layout="../../Shared/_Layout.cshtml";
    ViewData["Title"] = "Registro de clientes";
}

<div x-data="{ filter: false }" class="bg-white rounded-lg px-8 py-6 shadow-md overflow-x-scroll custom-scrollbar">
    <h4 class="text-xl font-poppins text-zinc-700 font-semibold uppercase">Registro de Clientes</h4>
    <div class="mt-8 mb-3 flex flex-col md:flex-row items-start md:items-center md:justify-between">
        <div class="flex items-center justify-center space-x-4">
            <form class="w-full max-w-5xl">

                <label class="block uppercase tracking-wide text-orange-600 underline text-sm font-bold mb-8" for="middleName">
                        Datos Personales
                </label>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-zinc-700 text-xs font-bold mb-4" for="firstName">
                            Primer Nombre
                        </label>
                        <input class="appearance-none block w-full text-zinc-700 border border-zinc-300 rounded py-3 px-4 mb-3 leading-tight focus:ring-0 focus:outline-none focus:border-orange-600 ease-in transition duration-150" id="firstName" type="text" placeholder="Juan">
                    </div>

                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-zinc-700 text-xs font-bold mb-4" for="middleName">
                            Segundo Nombre
                        </label>
                        <input class="appearance-none block w-full text-zinc-700 border border-zinc-300 rounded py-3 px-4 mb-3 leading-tight focus:ring-0 focus:outline-none focus:border-orange-600 ease-in transition duration-150" id="middleName" type="text" placeholder="Manuel">
                    </div>

                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-zinc-700 text-xs font-bold mb-4" for="firstSurname">
                            Primer Apellido
                        </label>
                        <input class="appearance-none block w-full text-zinc-700 border border-zinc-300 rounded py-3 px-4 mb-3 leading-tight focus:ring-0 focus:outline-none focus:border-orange-600 ease-in transition duration-150" id="firstSurname" type="text" placeholder="Gonzalez">
                    </div>

                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-zinc-700 text-xs font-bold mb-4" for="secondSurname">
                            Segundo Apellido
                        </label>
                        <input class="appearance-none block w-full text-zinc-700 border border-zinc-300 rounded py-3 px-4 mb-3 leading-tight focus:ring-0 focus:outline-none focus:border-orange-600 ease-in transition duration-150" id="secondSurname" type="text" placeholder="Valencia">
                    </div>
                </div>
                
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-zinc-700 text-xs font-bold mb-4" for="IdType">
                                Tipo de Documento
                        </label>
                        <select  x-model="IdType" class="w-full h-12 border-zinc-300 focus:outline-none focus:ring-0  focus:border-orange-600 rounded text-sm text-zinc-700">
                            <option></option>
                            <option>CC</option>
                            <option>CE</option>
                            <option>NIT</option>
                        </select>
                    </div>
                    
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-zinc-700 text-xs font-bold mb-4" for="Id">
                            Número de Documento
                        </label>
                        <input class="appearance-none block w-full text-zinc-700 border border-zinc-300 rounded py-3 px-4 mb-3 leading-tight focus:ring-0 focus:outline-none focus:border-orange-600 ease-in transition duration-150" id="Id" type="num" placeholder="12345678">
                    </div>
                    
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-zinc-700 text-xs font-bold mb-4" for="phone">
                            Teléfono
                        </label>
                        <input class="appearance-none block w-full text-zinc-700 border border-zinc-300 rounded py-3 px-4 mb-3 leading-tight focus:ring-0 focus:outline-none focus:border-orange-600 ease-in transition duration-150" id="phone" type="phone" placeholder="321-5555555">
                    </div>
                    
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-zinc-700 text-xs font-bold mb-4" for="email">
                            Correo Electrónico
                        </label>
                        <input class="appearance-none block w-full text-zinc-700 border border-zinc-300 rounded py-3 px-4 mb-3 leading-tight focus:ring-0 focus:outline-none focus:border-orange-600 ease-in transition duration-150" id="email" type="email" placeholder="ejemplo@email.com">
                    </div>
                </div>
                
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-zinc-700 text-xs font-bold mb-4" for="firstSurname">
                            Ciudad
                        </label>
                        <select  x-model="City" class="w-full h-12 border-zinc-300 focus:outline-none focus:ring-0 focus:border-orange-600 rounded text-sm text-zinc-700" x-model="City">
                            <option></option>
                            <option>Armenia</option>
                            <option>Barranquilla</option>
                            <option>Bogotá</option>
                            <option>Cali</option>
                            <option>Manizales</option>
                            <option>Medellín</option>
                            <option>Pasto</option>
                            <option>Pereira</option>
                        </select>
                    </div>
                    
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-zinc-700 text-xs font-bold mb-4" for="address">
                            Dirección
                        </label>
                        <input class="appearance-none block w-full text-zinc-700 border border-zinc-300 rounded py-3 px-4 mb-3 leading-tight focus:ring-0 focus:outline-none focus:border-orange-600 ease-in transition duration-150" id="address" type="text" placeholder="CRA 5B # 20-20">
                    </div>

                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-zinc-700 text-xs font-bold mb-4" for="password">
                            Contraseña
                        </label>
                        <input class="appearance-none block w-full text-zinc-700 border border-zinc-300 rounded py-3 px-4 mb-3 leading-tight focus:ring-0 focus:outline-none focus:border-orange-600 ease-in transition duration-150" id="password" type="password" placeholder="*******">
                    </div>
                    
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-zinc-700 text-xs font-bold mb-4" for="passwordConf">
                            Confirmar Contraseña
                        </label>
                        <input class="appearance-none block w-full text-zinc-700 border border-zinc-300 rounded py-3 px-4 mb-3 leading-tight focus:ring-0 focus:outline-none focus:border-orange-600 ease-in transition duration-150" id="passwordConf" type="password" placeholder="*******">
                    </div>
                </div>

                <div class="my-4 flex items-center justify-end space-x-4">
                    <button class="bg-orange-500 hover:bg-orange-600 rounded-lg px-8 py-2 text-zinc-100 hover:shadow-xl transition duration-150 uppercase">Registrar Cliente</button>
                </div>
            </form>
        </div>
    </div>
</div>

